<!DOCTYPE html>
<html>

    <head>
        <title>Index Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>

    <style>
        <!--th{-->
            <!--text-align: center-->
        <!--}-->

    </style>

    <body>

        <h1>Index</h1>

        <div style="text-align:end; margin: 16px">
            <a class="btn btn-primary" role="button" href="{% url 'info:add_user' %}">+ Create User</a>
        </div>

        <br/>
        <br/>


        <!--check if users exits in the database-->
        {% if user_list %}

            <table class="table table-bordered" style="width:700px; margin: 0 auto">

                <tr class="tr_header">
                    <th class="th_header">S.No</th>
                    <th class="th_header">First Name</th>
                    <th class="th_header">Last Name</th>
                    <th class="th_header">Email</th>
                    <th class="th_header" style="text-align:center">Action</th>
                </tr>

                {% for user in user_list %}

                <tr>
                    <td>{{ forloop.counter }}</td>

                    <!--Check if first name exists-->
                    {% if user.first_name %}
                    <td>{{ user.first_name }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}

                    <!--check if last name exists-->
                    {% if user.last_name %}
                    <td>{{ user.last_name }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                    <td>{{ user.email }}</td>
                    <td style="text-align:center">
                        <a class="btn btn-primary btn-xs" role="button" href="#">Edit</a>&nbsp&nbsp&nbsp
                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" data-whatever="{{ user.first_name }}" data-userid="{{ user.id }}">Delete</button>&nbsp&nbsp&nbsp
                    </td>
                </tr>

                {% endfor %}


            </table>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p class="user_name">This is a small modal.</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary btn-sm" role="button" href="#" data-dismiss="modal">Cancel</a>&nbsp&nbsp&nbsp
                        <a id="delete_user" class="btn btn-danger btn-sm" role="button" href="#">Delete</a>&nbsp&nbsp&nbsp
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>

        {% else %}
            <p style="width:700px, margin:0 auto">No users exist</p>
        {% endif %}

    </body>

</html>