<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>

    <style>
        .navbar-custom {
            background-color: #3FC380;
        }
        /* change the brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: rgba(255,255,255,.8);
        }
        /* change the link color */
        .navbar-custom .navbar-nav .nav-link {
            color: rgba(255,255,255,.5);
        }
        /* change the color of active or hovered links */
        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
            color: #111111;
        }
    </style>

    <body>

        <nav class="navbar navbar-static-top navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand" style="color:white">Users Info</span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'info:logout' %}" style="color: white">Sign Out</a></li>
                    <li><a href="{% url 'info:add_user' %}" style="color: white"> + Create User</a></li>
                </ul>
            </div>
        </nav>

        <br/>
        <br/>


        <!--check if users exits in the database-->
        {% if user_list %}

            <table class="table table-bordered" style="width:700px; margin: 0 auto">

                <tr class="tr_header">
                    <th class="th_header">S.No</th>
                    <th class="th_header">First Name</th>
                    <th class="th_header">Last Name</th>
                    <th class="th_header">Email</th>
                    <th class="th_header" style="text-align:center">Action</th>
                </tr>

                {% for user in user_list %}

                <tr>
                    <td>{{ forloop.counter }}</td>

                    <!--Check if first name exists-->
                    {% if user.first_name %}
                    <td>{{ user.first_name }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}

                    <!--check if last name exists-->
                    {% if user.last_name %}
                    <td>{{ user.last_name }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                    <td>{{ user.email }}</td>
                    <td style="text-align:center">
                        <a class="btn btn-primary btn-xs" role="button" href="{% url 'info:edit_user' user.id %}">Edit</a>&nbsp&nbsp&nbsp
                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" data-whatever="{{ user.first_name }}" data-userid="{{ user.id }}">Delete</button>&nbsp&nbsp&nbsp
                    </td>
                </tr>

                {% endfor %}


            </table>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-xs">


                <div class="modal-content" style="padding:16px">

                    <h4>Confirmation</h4>

                    <br/>

                    <p class="user_name">User name</p>

                    <div style="text-align:end">
                        <a class="btn btn-primary btn-sm" role="button" data-dismiss="modal">Cancel</a>&nbsp&nbsp&nbsp
                        <a id="delete_user" class="btn btn-danger btn-sm" role="button">Delete</a>&nbsp&nbsp&nbsp
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <!--<h4 class="modal-title">Modal Header</h4>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<p class="user_name">This is a small modal.</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        {% else %}
            <h4 style="text-align:center; width:700px, margin:0 auto">No users exist</h4>
        {% endif %}

    </body>


    <script>

        $('#myModal').on('show.bs.modal', function(event) {
              var button = $(event.relatedTarget) // Button that triggered the modal
              var first_name = button.data('whatever') // Extract info from data-* attributes
              var user_id = button.data('userid') // Extract info from data-* attributes
              console.log(user_id + 'user id')
              var modal = $(this)
              modal.find('.modal-title').text('Do you want to delete')
              modal.find('.user_name').text('Do you want to delete ' + '\"' + first_name + '\"')
              $('#delete_user').prop("href", "http://127.0.0.1:8000/user/" + user_id + "/delete")
        });


    </script>

</html>