<!DOCTYPE html>
<html>

    <head>
        <title>Add User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-red.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>

    <body>

        <div class = "mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class = "mdl-layout__header">
                <div class = "mdl-layout__header-row">
                    <span class = "mdl-layout-title">Users Info</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="">Home</a>
                        <a class="mdl-navigation__link" href="{% url 'info:logout' %}">Sign Out</a>
                        <a class="mdl-navigation__link" href="{% url 'info:add_user' %}">Create User</a>
                    </nav>
                </div>
            </header>

            <main class = "mdl-layout__content">

                <!--<div style="text-align:center">-->
                    <!--&lt;!&ndash; Colored raised button &ndash;&gt;-->
                    <!--<a href="{% url 'info:add_user' %}">-->
                        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;accent mdl-js-ripple-effect" style="margin: 0 auto">-->
                        <!--+ Create User-->
                        <!--</button>-->
                    <!--</a>-->
                <!--</div>-->


                <br/>
                <br/>


                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin: 0 auto">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th class="mdl-data-table__cell--non-numeric">First Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Email</th>
                        <th class="mdl-data-table__cell--non-numeric">&nbsp&nbsp&nbsp&nbsp&nbspAction</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in user_list %}

                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <!--Check if first name exists-->
                        {% if user.first_name %}
                        <td class="mdl-data-table__cell--non-numeric">{{ user.first_name }}</td>
                        {% else %}
                        <td class="mdl-data-table__cell--non-numeric">N/A</td>
                        {% endif %}

                        <!--check if last name exists-->
                        {% if user.last_name %}
                        <td class="mdl-data-table__cell--non-numeric">{{ user.last_name }}</td>
                        {% else %}
                        <td class="mdl-data-table__cell--non-numeric">N/A</td>
                        {% endif %}
                        <td class="mdl-data-table__cell--non-numeric">{{ user.email }}</td>
                        <td class="mdl-data-table__cell--non-numeric" style="text-align:center">

                            <a href="{% url 'info:edit_user' user.id %}">
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"><i class="material-icons">edit</i></button></a>
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="material-icons" style="color: red">delete</i>
                            </button>

                            <!--<a href="{% url 'info:edit_user' user.id %}"><button class="mdl-button mdl-js-button" style="margin: 0 auto">-->
                            <!--Edit-->
                            <!--</button></a>-->
                            <!--<button onclick="handleDelete()" class="mdl-button mdl-js-button" style="margin: 0 auto">-->
                            <!--Delete-->
                            <!--</button>-->
                            <!--&lt;!&ndash; Colored icon button &ndash;&gt;-->
                            <!--&nbsp&nbsp&nbsp-->
                            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
                                <!--<i class="material-icons">delete</i>-->
                            <!--</button>-->
                        </td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <dialog class="mdl-dialog">
                    <h4 class="mdl-dialog__title">Allow data collection?</h4>
                    <div class="mdl-dialog__content">
                        <p>
                            Allowing us to collect data will let us get you the information you want faster.
                        </p>
                    </div>
                    <div class="mdl-dialog__actions">
                        <button type="button" class="mdl-button">Agree</button>
                        <button type="button" class="mdl-button close">Disagree</button>
                    </div>
                </dialog>

            </main>
        </div>


    </body>

    <script>


        var dialog = document.querySelector('dialog');
        var showDialogButton = document.querySelector('#delete_user');
        if (! dialog.showModal) {
              dialogPolyfill.registerDialog(dialog);
         }
            dialog.querySelector('.close').addEventListener('click', function() {
              dialog.close();
            });
        function handleDelete(){

            (this).addEventListener('click', function() {
              dialog.showModal();
            });
        }
    </script>

</html>